<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Dating App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Matches <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
    </ul>
    <form #loginForm = "ngForm" class="form-inline my-2 my-lg-0" (ngSubmit) = "login()">
      <div class="form-group">
          <input class="form-control" type="text" #username = "ngModel" placeholder="Username" required name="username" [(ngModel)]="model.username">
      </div>
      <div class="form-group">
          <input class="form-control" type="password" #password = "ngModel" placeholder="Password" required name="password" [(ngModel)]="model.password">
      </div>     
      <button class="btn btn-success" type="submit" [disabled]="!loginForm.valid">Sign In</button>
    </form>
  </div>
</nav>
